{% extends 'admin/layout/crud-layout.html.twig' %}

{% block title %}
  {{ appName }}
  - Données du sysmtème
{% endblock %}

{% block custom_page_stylesheets %}
  <!-- Pour la gestion de l'image css -->
  <link href="{{
    asset(
      'assets/js/plugins/bootstrap-image-upload-preview/src/style.css'
    )
    }}"
    rel="stylesheet"
    type="text/css" />
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-xl-9 col-lg-8">
            <div class="card">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-8">
                        <img class="card-img img-fluid" src="{{ url_get_file() | replace({'__fileName__': param.logo}) }}" alt="Logo">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-4 col-8">
                        <div class="card-body">
                            <h5 class="card-title mb-3">
                                {{param.name}}
                            </h5>
                            <dl class="row mb-0">
                                <dt class="col-lg-2 col-md-2 col-sm-4 col-4">IFU : </dt>
                                <dd class="col-lg-10 col-md-10 col-sm-8 col-8">{{ param.ifu}}</dd>
                                <dt class="col-lg-2 col-md-2 col-sm-4 col-4">RCM : </dt>
                                <dd class="col-lg-10 col-md-10 col-sm-8 col-8">{{param.rcm ? param.rcm : "-"}}</dd>
                            </dl>
                            <div class="d-flex flex-wrap align-items-start gap-2 gap-lg-3 text-muted font-size-13">
                                <div>
                                <i class="mdi mdi-circle-medium me-1 text-success align-middle">
                                    </i>{{param.telephone}} - {{param.email}}
                                </div>
                                <div>
                                    <i class="mdi mdi-circle-medium me-1 text-success align-middle">
                                    </i>{{param.ville}} - {{param.pays}}
                                </div>
                            </div>
                            <p class="card-text"><small class="text-muted"><i class="mdi mdi-circle-medium me-1 text-success align-middle">
                            </i>{{param.address}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <div class="card">
                <form class="" data-params="{{param|json_encode()}}" id="societe-form" {#onsubmit="systemParamsWizard.onSave(event)"#} enctype="multipart/form-data">
                    <div class="card-header">
                                <h5 class="card-title mb-0">
                                Informations de la société
                                </h5>
                    </div>
                    <div class="card-body">
                        <div class="row imageUpPreview d-flex justify-content-center flex-md-row-reverse">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-8 imgUp">
                                <div class="imagePreview" style="background-image: url({{ url_get_file() | replace({'__fileName__': param.logo}) }})"></div>
                                <label class="btn btn-primary imgUpBtn"> 
                                    Changer votre logo
                                    <input type="file" id="logo" name="logo" class="uploadFile img" accept="image/*" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                </label>
                                <i class="fa fa-times del" style="display:none;"></i>
                            </div>
                            <div class="col-lg-9 col-md-9">
                                <div class="row">						
                                    <div class="col-md-12">
                                        <div class="mb-3 position-relative">
                                            <label class="form-label" for="name">Nom ou Raison sociale</label>
                                            <input type="text" id="name" name="name" value="{{param.name}}" class="form-control" placeholder="Le nom de la société" required>
                                        </div>
                                    </div>							
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3 position-relative">
                                            <label class="form-label" for="ifu">IFU</label>
                                            <input type="hidden" id="item-id" name="item-id" value="">
                                            <input type="text" class="form-control" id="ifu" name="ifu" value="{{param.ifu}}" placeholder="L'IFU du de la société">
                                        </div>
                                    </div>														
                                </div>
                                <div class="row">						
                                    <div class="col-md-12">
                                        <div class="mb-3 position-relative">
                                            <label class="form-label" for="rcm">RCM</label>
                                            <input type="text" id="rcm" name="rcm" class="form-control" placeholder="Le numéro rcm du de la société" value="{{param.rcm}}">
                                        </div>
                                    </div>							
                                </div>
                            </div>
                        </div>
                        <!-- row -->									
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3 position-relative">
                                    <label class="form-label" for="telepohone">Téléphone</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="telephonePrepend">
                                            <i class="mdi mdi-phone"></i>
                                        </span>
                                        <input type="tel" value="{{param.telephone}}" pattern="[5-9]{1}[0-9]{1}[0-9]{2}[0-9]{2}[0-9]{2}" class="form-control" id="telephone" name="telephone" placeholder="Numéro de téléphone" aria-describedby="telephonePrepend" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3 position-relative">
                                    <label class="form-label" for="email">E-mail</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="emailPrepend">
                                            <i class="mdi mdi-email"></i>
                                        </span>
                                        <input type="email" id="email" name="email" value="{{param.email}}" class="form-control" placeholder="Adresse e-mail" aria-describedby="emailPrepend" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">						
                            <div class="col-md-6">
                                <div class="mb-3 position-relative">
                                    <label class="form-label" for="pays">Pays</label>
                                    <input disabled type="text" id="pays" name="pays" class="form-control" placeholder="Le pays de la société" value="{{param.pays}}">
                                </div>
                            </div>							
                            <div class="col-md-6">
                                <div class="mb-3 position-relative">
                                    <label class="form-label" for="ville">Ville</label>
                                    <input type="text" id="ville" name="ville" value="{{param.ville}}" class="form-control" placeholder="La ville de la société">
                                </div>
                            </div>							
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-3 position-relative">
                                    <label class="form-label" for="address">Adresse</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="addressPrepend">@</span>
                                        <input type="text" class="form-control" id="address" name="address" value="{{param.address}}" placeholder="Adresse de la société" aria-describedby="addressPrepend" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card body -->
                    <div class="card-footer bg-transparent border-top d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-info waves-effect waves-light"data-bs-toggle="modal" data-bs-target=".confirmModal">
                            Mettre à jour les informations
                        </button>
                    </div>
                    <!-- end card footer -->
                </form>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
        <div class="col-xl-3 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        e-MECeF
                    </h5>
                    <dl class="row mb-0">
                        <dt class="col-sm-5 col-6"><i class="mdi mdi-circle-medium me-1 text-success align-middle"></i>NIM : </dt>
                        <dd class="col-sm-7 col-6">{{ param.nim}}</dd>
                        <dt class="col-sm-5 col-6"><i class="mdi mdi-circle-medium me-1 text-success align-middle"></i>Mode : </dt>
                        <dd class="col-sm-7 col-6">{{param.typeSystem}}</dd>
                    </dl>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->

            <div class="card">
                <div class="card-body">
                <h5 class="card-title mb-3">
                    Profils des Utilisateurs
                </h5>
                <div class="list-group list-group-flush">
                    {% for user in users %}
                        <a href="javascript:void();" class="list-group-item list-group-item-action">
                            <div class="d-flex align-items-center">
                                <div class="avatar-sm flex-shrink-0 me-3">
                                    <img src="{{ user.photo ? (url_get_file() | replace({'__fileName__': user.photo})) : asset('assets/images/default-user-img.png') }}"
                                        alt=""
                                        class="img-thumbnail rounded-circle" />
                                </div>
                                <div class="flex-grow-1">
                                    <div>
                                        <h5 class="font-size-14 mb-1">
                                            {{user.fullname}}
                                        </h5>
                                        <p class="font-size-13 text-muted mb-0">
                                            {{user.role}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}                    
                </div>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

    <!-- Modal -->
	<div class="modal fade confirmModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="mb-3">
                        <i class="bx bx-check-circle display-4 text-success"></i>
                    </div>
                    <h5>Confirmer la modification des informations de la société</h5>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-light w-md" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary w-md" data-bs-dismiss="modal" onclick="systemParamsWizard.onSave(event);">Confirmer</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal -->
{% endblock %}

{% block page_custom_scripts %}
  <script>
    const URL_PUT_SYSTEM_PARAMS_LOGO = "{{ url_put_item_logo }}";
    const URL_GET_EMCEF_INFOS = "{{ url_get_emcef_infos }}";
  </script>

  <!-- init js -->
  <script src="{{ asset('assets/js/custom/parametres/system-params.init.js') }}"></script>
{% endblock %}
