{% extends "base.html.twig" %}
{# Codes des menu #}
{% set gestStock = 10000 %}
{% set gestStockCategorie = 11000 %}
{% set gestStockArticle = 12000 %}
{% set facturation = 20000 %}
{% set facturationFV = 21000 %}
{% set facturationFA = 22000 %}
{% set facturationListe = 23000 %}
{% set facturationClient = 24000 %}
{% set parametre = 30000 %}
{% set parametreTaxe = 31000 %}
{% set parametreTypeFacture = 32000 %}
{% set parametreTypePaiement = 33000 %}
{% set parametreSysteme = 34000 %}
{% set parametreDonneSysteme = 35000 %}
{% set accessCtrl = 40000 %}
{% set accessCtrlUser = 41000 %}
{% set accessCtrlUserGroup = 42000 %}
{% set accessCtrlFeatures = 43000 %}
{% set accessCtrlAccess = 44000 %}
{% set audit = 50000 %}
{% set stats = 60000 %}
{% set statsBilanPeriodique = 61000 %}
{# endset #}
	
{# Menu format #}
{% set menus = [
	{
		readable: true,
		id: "topnav-dashboard",
		pathName: "dashboard",
		title: "Tableau de bord",
		icon: "home",
		dataKey: "t-dashboard",
		active: sidebar_code[0] == "TB" ? true : false,
		children: [],
	},
	{
		readable: menu_readable(gestStock),
		id: "gestion-stock",
		pathName: "",
		title: "Gestion de Stock",
		icon: "box",
		dataKey: "t-gestion-stock",
		active: sidebar_code[0] == "GSTK" ? true : false,
		children: [
			{
				readable: menu_readable(gestStockCategorie),
				id: "gstk-categorie-article",
				pathName: "gstk_categorie_article",
				title: "Catégorie Articles",
				dataKey: "t-categorie-rticles",
				active: sidebar_code[1] == "CAP" ? true : false,
				children: [],
			},                            
			{
				readable: menu_readable(gestStockArticle),
				id: "gstk-article",
				pathName: "gstk_article",
				title: "Articles",
				dataKey: "t-articles",
				active: sidebar_code[1] == "A/P" ? true : false,
				children: [],
			},
		],
	},
	{
		readable: menu_readable(facturation),
		id: "facture",
		pathName: "",
		title: "Factures",
		icon: "dollar-sign",
		dataKey: "t-facture",
		active: sidebar_code[0] == "FACT" ? true : false,
		children: [
			{
				readable: menu_readable(facturationFV),
				id: "facture-vente",
				pathName: "new_facture_vente",
				title: "Facture Ventes",
				dataKey: "t-facture-vente",
				active: sidebar_code[1] == "FACTV" ? true : false,
				children: [],
			},
			{
				readable: menu_readable(facturationFA),
				id: "facture-avoir",
				pathName: "new_facture_avoir",
				title: "Facture d'avoir",
				dataKey: "t-facture-avoir",
				active: sidebar_code[1] == "NFA" ? true : false,
				children: [],
			},
			{
				readable: menu_readable(facturationListe),
				id: "liste-factures",
				pathName: "liste_facture",
				title: "Liste des Factures",
				dataKey: "t-liste-factures",
				active: sidebar_code[1] == "LSTF" ? true : false,
				children: [],
			},
			{
				readable: menu_readable(facturationClient),
				id: "gstk-client",
				pathName: "gstk_client",
				title: "Clients",
				dataKey: "t-clients",
				active: sidebar_code[1] == "CLT" ? true : false,
				children: [],
			},                           
		],
	},
	{
		readable: menu_readable(stats),
		id: "stats",
		pathName: "",
		title: "Statistiques",
		icon: "bar-chart-2",
		dataKey: "t-access",
		active: sidebar_code[0] == "STATS" ? true : false,
		children: [			                       
			{
				readable: menu_readable(statsBilanPeriodique),
				id: "stats-bilan",
				pathName: "stats_bilan",
				title: "Bilan Périodique",
				dataKey: "t-stats-bilan",
				active: sidebar_code[1] == "BP" ? true : false,
				children: [],
			},            
		],
	},
	{
		readable: menu_readable(parametre),
		id: "parametres",
		pathName: "",
		title: "Paramètres",
		icon: "tool",
		dataKey: "t-parametres",
		active: sidebar_code[0] == "PARAMS" ? true : false,
		children: [
			{
				readable: menu_readable(parametreTaxe),
				id: "taxe",
				pathName: "parametre_taxe",
				title: "Taxe",
				dataKey: "t-params-taxe",
				active: sidebar_code[1] == "TAXE" ? true : false,
				children: [],
			},    
			{
				readable: menu_readable(parametreTypeFacture),
				id: "type-facture",
				pathName: "parametre_type_facture",
				title: "Type de facture",
				dataKey: "t-params-type-facture",
				active: sidebar_code[1] == "TPF" ? true : false,
				children: [],
			}, 
			{
				readable: menu_readable(parametreTypePaiement),
				id: "type-paiement",
				pathName: "parametre_type_paiement",
				title: "Type de paiement",
				dataKey: "t-params-type-paiement",
				active: sidebar_code[1] == "TPP" ? true : false,
				children: [],
			},
			{
				readable: menu_readable(parametreSysteme),
				id: "update_params",
				pathName: "parametre_update",
				title: "Paramètre du système",
				dataKey: "t-params-update",
				active: sidebar_code[1] == "SYSTU" ? true : false,
				children: [],
			},                       
			{
				readable: menu_readable(parametreDonneSysteme),
				id: "new_params",
				pathName: "parametre_new",
				title: "Données du système",
				dataKey: "t-params-new",
				active: sidebar_code[1] == "SYST" ? true : false,
				children: [],
			},                       
		],
	},
	{
		readable: menu_readable(accessCtrl),
		id: "access",
		pathName: "",
		title: "Accès & Audit",
		icon: "unlock",
		dataKey: "t-access",
		active: sidebar_code[0] == "ACCESS" ? true : false,
		children: [			                       
			{
				readable: menu_readable(accessCtrlUserGroup),
				id: "user-groups",
				pathName: "access_user_group",
				title: "Groupes Utilisateurs",
				dataKey: "t-access-user-groups",
				active: sidebar_code[1] == "GRPU" ? true : false,
				children: [],
			},                  
			{
				readable: menu_readable(accessCtrlFeatures),
				id: "features",
				pathName: "access_features",
				title: "Fonctionnalités",
				dataKey: "t-access-features",
				active: sidebar_code[1] == "FEATURE" ? true : false,
				children: [],
			},                    
			{
				readable: menu_readable(accessCtrlAccess),
				id: "accesses",
				pathName: "access_accesses",
				title: "Contrôle d'accès",
				dataKey: "t-access-accesses",
				active: sidebar_code[1] == "ACCESS" ? true : false,
				children: [],
			},
			{
				readable: menu_readable(accessCtrlUser),
				id: "users",
				pathName: "access_users",
				title: "Utilisateurs",
				dataKey: "t-access-users",
				active: sidebar_code[1] == "USR" ? true : false,
				children: [],
			},                   
			{
				readable: menu_readable(audit),
				id: "audit",
				pathName: "access_audit",
				title: "Audit",
				dataKey: "t-access-audit",
				active: sidebar_code[1] == "AUDIT" ? true : false,
				children: [],
			},                   
		],
	},
] %}
{% block body %}
	{# <!-- Begin page --> #}
	<div id="layout-wrapper" data-user-layout="{{ userLayout ? userLayout|json_encode() : null }}"> 
		<header id="page-topbar">
			{% block header %}
				{{ include('admin/layout/components/header.html.twig') }}
			{% endblock %}
		</header>

		<div class="{{ (userLayout and userLayout.layout == 'vertical') ? 'vertical-menu' : "topnav"}}">
			{% block left_sidebar %}
				{% if userLayout and userLayout.layout == 'vertical' %}
					{{ include('admin/layout/components/left-sidebar.html.twig') }}
				{% else %}					
					{{ include('admin/layout/components/topnav.html.twig') }}					
				{% endif %}
			{% endblock %}
		</div>
		<!-- Topnav End -->

		{# <!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== --> #}
		<div class="main-content">
			<div class="page-content">
				<div
					class="container-fluid">
					<!-- start page title -->
					{% block page_title %}
						{{ include('admin/layout/components/page-title.html.twig') }}
					{% endblock %}
					<!-- end page title -->
					<!-- start page content -->
					{% block page_content %}{% endblock %}
					<!-- end page content -->

					<!-- Pour visionner le facture imprimée -->
					{% include "facture/__facture_pdf_viewer.html.twig" %}

				</div>
			</div>
			{# <!-- End Page-content --> #}


			<footer class="footer">
				{{ include('admin/layout/components/footer.html.twig') }}
			</footer>
		</div>
		{# <!-- end main content--> #}

	</div>
	{# <!-- END layout-wrapper --> #}


	{# <!-- Right Sidebar --> #}
	<div class="right-bar">
		{% include "admin/layout/components/right-sidebar.html.twig" %}
	</div>
	{# <!-- /Right-bar --> #}

	{# <!-- Right bar overlay--> #}
	<div class="rightbar-overlay"></div>

{% endblock %}

{% block global_scripts %}
	{# Les scripts globales à toutes les pages #}	
	<script>
		// URL global request get file
		const URL_GET_FILE = "{{ url_get_file() }}";
		// URL global print invoice and get file
		const URL_GLOBAL_IMPRIMER_FACTURE = "{{ url_print_invoice() }}";
		// URL global details invoice
		const URL_GLOBAL_DETAILS_FACTURE = "{{ url_details_invoice() }}";
		// URL global details invoice
		const URL_GLOBAL_UPDATE_FACTURE_VENTE = "{{ path('update_facture_vente', {id: '__id__'}) }}";
		// URL global details invoice
		const URL_GLOBAL_LAYOUT_SETTINGS = "{{ path('global_request_layout_settings') }}";
		const API_BASE_URL = "{{ api_base_url() }}";
		// SUPER_ADMIN
		let user_sa = false;
		{% if authUser.sa %}
			user_sa = true;
		{% endif %}
	</script>
{% endblock %}
