{% extends "base.html.twig" %}
{# Menu format #}
{% set menus = [
	{
		id: "topnav-dashboard",
		pathName: "dashboard",
		title: "Tableau de bord",
		icon: "home",
		dataKey: "t-dashboard",
		active: sidebar_code[0] == "TB" ? true : false,
		children: [],
	},
	{
		id: "gestion-stock",
		pathName: "",
		title: "Gestion de Stock",
		icon: "box",
		dataKey: "t-gestion-stock",
		active: sidebar_code[0] == "GSTK" ? true : false,
		children: [
			{
				id: "gstk-categorie-article",
				pathName: "gstk_categorie_article",
				title: "Catégorie Articles",
				dataKey: "t-categorie-rticles",
				active: sidebar_code[1] == "CAP" ? true : false,
				children: [],
			},                            
			{
				id: "gstk-article",
				pathName: "gstk_article",
				title: "Articles",
				dataKey: "t-articles",
				active: sidebar_code[1] == "A/P" ? true : false,
				children: [],
			},
		],
	},
	{
		id: "facture",
		pathName: "",
		title: "Factures",
		icon: "dollar-sign",
		dataKey: "t-facture",
		active: sidebar_code[0] == "FACT" ? true : false,
		children: [
			{
				id: "facture-vente",
				pathName: "new_facture_vente",
				title: "Facture Ventes",
				dataKey: "t-facture-vente",
				active: sidebar_code[1] == "FACTV" ? true : false,
				children: [],
			},
			{
				id: "facture-avoir",
				pathName: "new_facture_avoir",
				title: "Facture d'avoir",
				dataKey: "t-facture-avoir",
				active: sidebar_code[1] == "NFA" ? true : false,
				children: [],
			},
			{
				id: "liste-factures",
				pathName: "liste_facture",
				title: "Liste des Factures",
				dataKey: "t-liste-factures",
				active: sidebar_code[1] == "LSTF" ? true : false,
				children: [],
			},
			{
				id: "gstk-client",
				pathName: "gstk_client",
				title: "Clients",
				dataKey: "t-clients",
				active: sidebar_code[1] == "CLT" ? true : false,
				children: [],
			},                           
		],
	},
	{
		id: "parametres",
		pathName: "",
		title: "Paramètres",
		icon: "tool",
		dataKey: "t-parametres",
		active: sidebar_code[0] == "PARAMS" ? true : false,
		children: [
			{
				id: "taxe",
				pathName: "parametre_taxe",
				title: "Taxe",
				dataKey: "t-params-taxe",
				active: sidebar_code[1] == "TAXE" ? true : false,
				children: [],
			},    
			{
				id: "type-facture",
				pathName: "parametre_type_facture",
				title: "Type de facture",
				dataKey: "t-params-type-facture",
				active: sidebar_code[1] == "TPF" ? true : false,
				children: [],
			}, 
			{
				id: "type-paiement",
				pathName: "parametre_type_paiement",
				title: "Type de paiement",
				dataKey: "t-params-type-paiement",
				active: sidebar_code[1] == "TPP" ? true : false,
				children: [],
			},                       
			{
				id: "users",
				pathName: "parametre_users",
				title: "Utilisateurs",
				dataKey: "t-params-users",
				active: sidebar_code[1] == "USR" ? true : false,
				children: [],
			},
			{
				id: "update_params",
				pathName: "parametre_update",
				title: "Paramètre du système",
				dataKey: "t-params-update",
				active: sidebar_code[1] == "SYSTU" ? true : false,
				children: [],
			},                       
			{
				id: "new_params",
				pathName: "parametre_new",
				title: "Données du système",
				dataKey: "t-params-new",
				active: sidebar_code[1] == "SYST" ? true : false,
				children: [],
			},                       
		],
	},
] %}
{% block body %}
	{# <!-- Begin page --> #}
	<div id="layout-wrapper" data-user-layout="{{ userLayout ? userLayout|json_encode() : null }}"> 
		<header id="page-topbar">
			{% block header %}
				{{ include('admin/layout/components/header.html.twig') }}
			{% endblock %}
		</header>

		<div class="{{ (userLayout and userLayout.layout == 'vertical') ? 'vertical-menu' : "topnav"}}">
			{% block left_sidebar %}
				{% if userLayout and userLayout.layout == 'vertical' %}
					{{ include('admin/layout/components/left-sidebar.html.twig') }}
				{% else %}					
					{{ include('admin/layout/components/topnav.html.twig') }}					
				{% endif %}
			{% endblock %}
		</div>
		<!-- Topnav End -->

		{# <!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== --> #}
		<div class="main-content">
			<div class="page-content">
				<div
					class="container-fluid">
					<!-- start page title -->
					{% block page_title %}
						{{ include('admin/layout/components/page-title.html.twig') }}
					{% endblock %}
					<!-- end page title -->
					<!-- start page content -->
					{% block page_content %}{% endblock %}
					<!-- end page content -->

					<!-- Pour visionner le facture imprimée -->
					{% include "facture/__facture_pdf_viewer.html.twig" %}

				</div>
			</div>
			{# <!-- End Page-content --> #}


			<footer class="footer">
				{{ include('admin/layout/components/footer.html.twig') }}
			</footer>
		</div>
		{# <!-- end main content--> #}

	</div>
	{# <!-- END layout-wrapper --> #}


	{# <!-- Right Sidebar --> #}
	<div class="right-bar">
		{% include "admin/layout/components/right-sidebar.html.twig" %}
	</div>
	{# <!-- /Right-bar --> #}

	{# <!-- Right bar overlay--> #}
	<div class="rightbar-overlay"></div>

{% endblock %}

{% block global_scripts %}
	{# Les scripts globales à toutes les pages #}	
	<script>
		// URL global request get file
		const URL_GET_FILE = "{{ url_get_file() }}";
		// URL global print invoice and get file
		const URL_GLOBAL_IMPRIMER_FACTURE = "{{ url_print_invoice() }}";
		// URL global details invoice
		const URL_GLOBAL_DETAILS_FACTURE = "{{ url_details_invoice() }}";
		// URL global details invoice
		const URL_GLOBAL_UPDATE_FACTURE_VENTE = "{{ path('update_facture_vente', {id: '__id__'}) }}";
		// URL global details invoice
		const URL_GLOBAL_LAYOUT_SETTINGS = "{{ path('global_request_layout_settings') }}";
	</script>
{% endblock %}
