{% set appName = 'Cauris-iT' %}

{% set authUser = app.session.get('user') %}
{% set userLayout = authUser ? authUser.layout : null %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>
			{% block title %}
                {{appName}}
			{% endblock %}
		</title>
        {% block metas %}        
		    <meta charset="UTF-8">
            <meta name="description" content="Application de gestion de stock et d'émission des factures normalisées par la Direction Générales des Impôts en République du Bénin">
            <meta name="keywords" content="Gestion, Stock, Facture, Normalisée, DGI, Bénin, Cauris-it">
            <meta name="author" content="Cauris-iT">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        {% block favicon %}
			{# Générer, en fonction du logo, depuis https://www.favicon-generator.org/ #}
            <link rel="shortcut icon" href="{{ asset('assets/images/favicon/favicon.ico') }}">
            <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/images/favicon/apple-icon-57x57.png') }}">
            <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/images/favicon/apple-icon-60x60.png') }}">
            <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/images/favicon/apple-icon-72x72.png') }}">
            <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/images/favicon/apple-icon-76x76.png') }}">
            <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/images/favicon/apple-icon-114x114.png') }}">
            <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/images/favicon/apple-icon-120x120.png') }}">
            <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/images/favicon/apple-icon-144x144.png') }}">
            <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/images/favicon/apple-icon-152x152.png') }}">
            <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/images/favicon/apple-icon-180x180.png') }}">
            <link rel="icon" type="image/png" sizes="36x36"  href="{{ asset('assets/images/favicon/android-icon-36x36.png') }}">
            <link rel="icon" type="image/png" sizes="48x48"  href="{{ asset('assets/images/favicon/android-icon-48x48.png') }}">
            <link rel="icon" type="image/png" sizes="72x72"  href="{{ asset('assets/images/favicon/android-icon-72x72.png') }}">
            <link rel="icon" type="image/png" sizes="96x96"  href="{{ asset('assets/images/favicon/android-icon-96x96.png') }}">
            <link rel="icon" type="image/png" sizes="144x144"  href="{{ asset('assets/images/favicon/android-icon-144x144.png') }}">
            <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('assets/images/favicon/android-icon-192x192.png') }}">
            <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/images/favicon/favicon-32x32.png') }}">
            <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/images/favicon/favicon-96x96.png') }}">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/images/favicon/favicon-16x16.png') }}">
        {% endblock %}
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}

            {% block custom_page_stylesheets %}
                {# Les css spécifiques à une page #}
            {% endblock %}
            
            {% block page_stylesheets %}
                {# Les css spécifiques à une page #}
            {% endblock %}

            <!-- alertifyjs Css -->
            <link rel="stylesheet" href="{{ asset('assets/libs/alertifyjs/build/css/alertify.min.css') }}" type="text/css" />

            <!-- alertifyjs default themes  Css -->
            <link rel="stylesheet" href="{{ asset('assets/libs/alertifyjs/build/css/themes/default.min.css') }}" type="text/css" />

            <!-- preloader css -->
            <link rel="stylesheet" href="{{ asset('assets/css/preloader.min.css') }}" type="text/css" />

            <!-- Bootstrap Css -->
            <link href="{{ asset('assets/css/bootstrap.min.css') }}" id="bootstrap-style" rel="stylesheet" type="text/css" />
            <!-- jquery-ui Css -->
            <link href="{{ asset('assets/js/plugins/jquery-ui/jquery-ui.css') }}" id="bootstrap-style" rel="stylesheet" type="text/css" />
            <!-- Icons Css -->
            <link href="{{ asset('assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
            <!-- App Css-->
            <link href="{{ asset('assets/css/app.min.css') }}" id="app-style" rel="stylesheet" type="text/css" />
            <!-- CSS Just for waitMe jquery plugin -->
			<link href="{{ asset('assets/js/plugins/waitMe-31.10.17/waitMe.min.css') }}" rel="stylesheet">
            <!-- CSS Just for printjs -->
			<link href="{{ asset('assets/js/plugins/printjs/print.min.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}
    </head>
    <body data-layout="{{userLayout ? userLayout.layout : "horizontal"}}" data-sidebar-size="{{userLayout and userLayout.layout == "vertical" ?  userLayout.sidebarSize : "lg" }}" data-layout-mode="{{userLayout ? userLayout.mode : "light"}}" data-topbar="{{userLayout ? userLayout.topbarColor : "light"}}" data-sidebar="{{userLayout ? userLayout.sidebarColor : "light"}}" data-layout-size="{{userLayout ? userLayout.width : "fuild"}}" data-layout-scrollable="{{userLayout ? (userLayout.position == "scrollable" ? "true" : "false")  : "false"}}">
        {% block body %}{% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
            <!-- JAVASCRIPT -->
            <script src="{{ asset('assets/libs/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/js/plugins/jquery-ui/jquery-ui.js') }}"></script>
            <script src="{{ asset('assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('assets/libs/metismenu/metisMenu.min.js') }}"></script>
            <script src="{{ asset('assets/libs/simplebar/simplebar.min.js') }}"></script>
            <script src="{{ asset('assets/libs/node-waves/waves.min.js') }}"></script>
            {# <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script> #}
            <script src="{{ asset('assets/libs/feather-icons/feather.min.js') }}"></script>
            <!-- pace js -->
            <script src="{{ asset('assets/libs/pace-js/pace.min.js') }}"></script>

            <!-- alertifyjs js -->
            <script src="{{ asset('assets/libs/alertifyjs/build/alertify.min.js') }}"></script>

            {# <!-- notification init -->
            <script src="{{ asset('assets/js/pages/notification.init.js') }}"></script> #}

            <!-- Intégration waitMe jquery plugin -->
			<script src="{{ asset('assets/js/plugins/waitMe-31.10.17/waitMe.min.js') }}"></script>

            <!-- Inputmask jquery plugin -->
			<script src="{{ asset('assets/js/plugins/Inputmask-5.x/dist/jquery.inputmask.js') }}"></script>
			<script src="{{ asset('assets/js/plugins/Inputmask-5.x/dist/inputmask.min.js') }}"></script>
			<script src="{{ asset('assets/js/plugins/Inputmask-5.x/dist/bindings/inputmask.binding.js') }}"></script>
            <!-- pdf.js CDN -->
            {# <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.10.377/build/pdf.min.js"></script> #}
            <!-- pspdjs -->
            <script src="{{ asset('assets/js/plugins/pdfjs/build/pdf.min.js') }}"></script>
            <!-- printjs -->
            <script src="{{ asset('assets/js/plugins/printjs/print.min.js') }}"></script>
            <!-- gloabl js script for application -->
			<script src="{{ asset('assets/js/custom/global/global-custum.init.js') }}"></script>

            {% block page_javascripts %}
                {# Les javascripts spécifiques à une page #}
            {% endblock %}

            {% block global_scripts %}
                {# Les scripts globales à toutes les pages #}
            {% endblock %}
            
            {% block page_custom_scripts %}
                {# Les scripts spécifiques à une page #}
            {% endblock %}

            <script src="{{ asset('assets/js/app.js') }}"></script>

        {% endblock %}
    </body>
</html>
