{% extends "auth/layout.html.twig" %}
{% block page_content %}
	<div class="text-center">
		<h4 class="mb-0">Content de vous revoir !</h4>
		<p class="text-muted mt-2">Connectez-vous pour continuer vers {{appName}}.</p>
	</div>
	<form class="mt-4 pt-2" id="signin_form" action="{{path('api_login')}}" method="post" onsubmit="connexion.submitFormData(event)">
		<div class="mb-3">
			<input type="hidden" id="login_url" value="{{path('api_login')}}">
			<input type="hidden" id="query_param" value="{{query_param}}">
			<label class="form-label">Identifiant</label>
			<input type="text" class="form-control" id="username" name="username" placeholder="Saisissez votre identifiant" required>
			<div class="valid-feedback">
        	    Parfait !
        	</div>
		</div>
		<div class="mb-3">
			<div class="d-flex align-items-start">
				<div class="flex-grow-1">
					<label class="form-label">Mot de passe</label>
				</div>
				{# <div class="flex-shrink-0">
					<div class="">
						<a href="auth-recoverpw.html" class="text-muted">Forgot password?</a>
					</div>
				</div> #}
			</div>

			<div class="input-group auth-pass-inputgroup">
				<input type="password" class="form-control" id="password" name="password" placeholder="Entrer le mot de passe" aria-label="Password" aria-describedby="password-addon" required>
				<button class="btn btn-light shadow-none ms-0" type="button" id="password-addon">
					<i class="mdi mdi-eye-outline"></i>
				</button>
			</div>
			<div class="valid-feedback">
                Looks good!
            </div>
		</div>
		<div class="row mb-4">
			<div class="col">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="remember-check">
					<label class="form-check-label" for="remember-check">
						Se souvenir de moi
					</label>
				</div>
			</div>

		</div>
		<div class="mb-3">
			<button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Connexion</button>
		</div>
	</form>
	{# <div class="mt-4 pt-2 text-center">
		<div class="signin-other-title">
			<h5 class="font-size-14 mb-3 text-muted fw-medium">- Sign in with -</h5>
		</div>
		<ul class="list-inline mb-0">
			<li class="list-inline-item">
				<a href="javascript:void()" class="social-list-item bg-primary text-white border-primary">
					<i class="mdi mdi-facebook"></i>
				</a>
			</li>
			<li class="list-inline-item">
				<a href="javascript:void()" class="social-list-item bg-info text-white border-info">
					<i class="mdi mdi-twitter"></i>
				</a>
			</li>
			<li class="list-inline-item">
				<a href="javascript:void()" class="social-list-item bg-danger text-white border-danger">
					<i class="mdi mdi-google"></i>
				</a>
			</li>
		</ul>
	</div>
	<div class="mt-5 text-center">
		<p class="text-muted mb-0">Don't have an account ?
			<a href="auth-register.html" class="text-primary fw-semibold">
				Signup now
			</a>
		</p>
	</div> #}
{% endblock %}

{% block page_javascripts %}
	{# Les javascripts spécifiques à une page #}
	<!-- password addon init -->
    <script src="{{ asset('assets/js/pages/pass-addon.init.js') }}"> </script>
    <!-- form validation -->
	{# <script src="{{ asset('assets/js/pages/form-validation.init.js') }}"></script> #}
	<!-- connexion javascript -->
	<script src="{{ asset('assets/js/custom/auth/connexion.init.js') }}"></script>
{% endblock %}

{% block global_scripts %}
	{# Les scripts globales à toutes les pages #}
{% endblock %}

{% block page_custom_scripts %}
	{# Les scripts spécifiques à une page #}
{% endblock %}
