{% extends "admin/layout/crud-layout.html.twig" %}

{% block title %}
	{{appName}}
	- Approvisionnement
{% endblock %}

{% block page_content %}

	{# Filtre #}
	<div class="mt-2">
		<h5 class="font-size-14 mb-2">
			<i class="mdi mdi-arrow-right text-primary me-1"></i>
			Filtre : </h5>

		<form class="row gx-3 gy-2 align-items-center filtre-form">
			<div class="row mt-3">
				<div class="col-lg-4 col-md-5 col-sm-4 mb-sm-0 mb-2">
					<label for="filtre-article" class="form-label font-size-13 text-muted">Article</label>
					<select onchange="approvisionnement.reloadDatatable(event)" class="form-control form-select" data-trigger name="filtre-article" id="filtre-article" placeholder=""></select>
				</div>
			</div>
		</form>
	</div>
	<br>
	{# End Filtre #}

	<div class="row align-items-center">
		<div class="col-md-6 col-5">
			<div class="mb-3">
				<h5 class="card-title">Liste des approvisionnements
					<span class="text-muted fw-normal ms-2"></span>
				</h5>
			</div>
		</div>

		<div class="col-md-6 col-7">
			<div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
				<div>
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a class="nav-link active" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="List">
								<i class="bx bx-list-ul"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Grid">
								<i class="bx bx-grid-alt"></i>
							</a>
						</li>
					</ul>
				</div>
				<div onclick="approvisionnement.newItemEvent(event)">
					<a href="javascript:void(0);" class="btn btn-light" data-bs-toggle="modal" data-bs-target=".add-new-modal">
						<i class="bx bx-plus me-1"></i>
						Nouvel Ajout</a>
				</div>

				<div class="dropdown">
					<a class="btn btn-link text-muted py-1 font-size-16 shadow-none dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bx bx-dots-horizontal-rounded"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-end">
						<li>
							<a class="dropdown-item" onclick="approvisionnement.reloadDatatable(event)" href="javascript:void(0);">Actualiser</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
	<!-- end row -->

	<div class="table-responsive mb-4">
		<table data-order='[[1, "desc"]]' class="table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
			<thead>
				<tr>
					<th>
						<div class="form-check font-size-16">
							<input type="checkbox" class="form-check-input" id="checkAll">
							<label class="form-check-label" for="checkAll"></label>
						</div>
					</th>
					<th>Réf. Article</th>
					<th>Désignation</th>
					<th>Prix HT</th>
					<th>Qte</th>
					<th>Remise</th>
					<th>Taxe</th>
					<th>Mnt HT</th>
					{#<th>Mnt TTC</th>#}
					<th>Statut</th>
					<th style="width: 80px; min-width: 80px;">Action</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<!-- end table -->
	</div>
	<!-- end table responsive -->

	<div class="modal fade add-new-modal" id="add-new-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
		{% include "stock/__approvisionnement_form.html.twig" %}
	</div>

	<div class="modal fade show-item-modal" id="show-item-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Affichage</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-6 col-sm-12">
							<h5 class="font-size-14 mt-2">
								<i class="mdi mdi-arrow-right text-primary me-1"></i>Récapitulatif générale</h5>
							<div class="table-responsive">
								<table class="table table-nowrap align-middle justify-content-center mb-0 item-show-table">
									<thead>
										<tr>
											<th scope="col" colspan="2"></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">
												Réf. Article
											</th>
											<td class="text-center td-detail-reference"></td>
										</tr>
										<tr>
											<th scope="row">
												Désignation
											</th>
											<td class="text-center td-detail-designation"></td>
										</tr>
										<tr>
											<th scope="row">
												Quantité
											</th>
											<td class="text-center td-detail-quantite"></td>
										</tr>
										<tr>
											<th scope="row">
												Taxe
											</th>
											<td class="text-center td-detail-taxe"></td>
										</tr>
									</tbody>
								</table>
								<!-- end table -->
							</div>
						</div>
						<div class="col-lg-6 col-sm-12">
							<h5 class="font-size-14 mt-lg-2 mt-4">
								<i class="mdi mdi-arrow-right text-primary me-1"></i>Récapitulatif des montants</h5>
							<div class="table-responsive">
								<table class="table table-nowrap align-middle justify-content-center mb-0 detail-recap-montant-table">
									<thead>
										<tr>
											<th scope="col" colspan="2" class="text-center"></th>
										</tr>
									</thead>
									<tbody>										
										<tr>
											<th scope="row">
												Prix Unitaire HT
											</th>
											<td class="text-center td-detail-prixUnitaire"></td>
										</tr>
										<tr>
											<th scope="row">
												Montant Total HT
											</th>
											<td class="text-center td-detail-mht"></td>
										</tr>
										<tr>
											<th scope="row">
												Montant Total TVA
											</th>
											<td class="text-center td-detail-mtva"></td>
										</tr>										
										<tr>
											<th scope="row">
												Montant Total T.T.C
											</th>
											<td class="text-center td-detail-mttc"></td>
										</tr>
									</tbody>
								</table>
								<!-- end table -->
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h5 class="font-size-14 mt-4">
								<i class="mdi mdi-arrow-right text-primary me-1"></i>Remise</h5>
							<div class="table-responsive">
								<table class="table table-nowrap align-middle justify-content-center mb-0 ts-remise-show-table">
									<thead>
										<tr>
											<th scope="col" class="text-center">Remise</th>
											<th scope="col" class="text-center tr-detail-remise">Taux</th>
											<th scope="col" class="text-center tr-detail-remise">Prix originale</th>
											<th scope="col" class="text-center tr-detail-remise">Description</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center td-detail-remise"></td>
											<td class="text-center td-detail-remise-taux tr-detail-remise"></td>
											<td class="text-center td-detail-remise-prix-u tr-detail-remise"></td>
											<td class="text-center td-detail-remise-description tr-detail-remise"></td>
										</tr>
									</tbody>
								</table>
								<!-- end table -->
								<!-- No remise message -->
								<p id="remise-false-text">
									Pas de remise définie.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-center">
					<button type="button" class="btn btn-info" data-bs-dismiss="modal">Fermer</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<div class="modal fade validation-modal" id="validation-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal">
			<div class="modal-content">
				<form method="post" class="" onsubmit="approvisionnement.customMessageOnValidationFormSubmit(event)">
					<div class="modal-header">
						<h5 class="modal-title">Validation de la facture</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-lg-12 col-sm-12">
								<h5 class="font-size-14 mt-2">
									<i class="mdi mdi-arrow-right text-primary me-1"></i>Formulaire de validation</h5>
								
								<div class="row">
									<div class="col-sm-12">
										<div class="mb-3 position-relative">
											<label class="form-label font-size-13 text-muted" for="reference-facture">Référence de la facture</label>
											<input type="text" class="form-control" id="reference-facture" name="reference-facture" placeholder="Référence de la facture de l'approvisionnement" value="" required>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer d-flex justify-content-center">
						<button type="reset" class="btn btn-light btn-sm" data-bs-dismiss="modal">Annuler</button>
						<button type="submit" class="btn btn-primary">Valider</button>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

{% endblock %}

{% block page_custom_scripts %}
	<script>
		const URL_LIST_ITEM_PAR_ARTICLE = "{{ url_list_item_per_article }}";
		const URL_PUT_ITEM_VALIDER = "{{ url_put_item_valider }}";
		<!-- Foreign Data -->
		const URL_LIST_ARTICLE = "{{ url_list_article }}";
		const URL_GET_ARTICLE = "{{ url_get_article }}";
		const URL_POST_ARTICLE = "{{ url_post_article }}";
		const URL_PUT_ARTICLE = "{{ url_put_article }}";
		const URL_LIST_TAXE = "{{ url_list_taxe }}";
		const URL_GET_TAXE = "{{ url_get_taxe }}";
	</script>
	<!-- init js -->
	<script src="{{ asset('assets/js/custom/stock/approvisionnement.init.js') }}"></script>
{% endblock %}
